* {
    margin: 0;
    padding: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 125px;
    align-items: center;
}

.navbar-container div:first-child img {
    width: 100px;
}

.list {
    list-style: none;
    display: flex;
}

.list-item {
    font-family: "orbitron";
    font-size: large;
    font-weight: bold;
    margin: 0px 20px;
    cursor: pointer;
    position: relative;
}

.button-group {
    display: flex;
    align-items: flex-end;
}

.nav-button {
    margin-left: 10px;
    font-size: large;
    color: #777777;
    padding: 5px 25px;
    background-color: white;
    border: 2px solid #777777;
    border-radius: 15px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    margin: 35px 100px;
}

.square {
    margin-top: 162px;
    margin-left: 51px;
}

.square img {
    width: 300px;
}

.globe+div {
    position: absolute;
    margin-top: 40px;
}

.globe+div img {
    width: 300px;
}

.star {
    margin-top: 348px;
    padding-left: 50px;
}

.star img {
    width: 45px;
}

.globe {
    margin-left: 250px;
}

.globe img {
    width: 45px;
}

.hero-container-right {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-left: -250px;
}

.hero-heading {
    font-family: "orbitron";
    font-size: 45px;
    word-spacing: 10px;
}

.hero-description {
    max-width: 550px;
    text-align: center;
    font-family: "poppins";
    font-size: small;
    color: #777777;
    font-weight: 500;
}

.hero-description+div {
    margin-top: 30px;
}

.button-email {
    font-family: "orbitron";
    margin-right: 10px;
    border-radius: 5px;
    font-size: medium;
    font-weight: 500;
    padding: 2px 15px;
    color: #777777;
}

.button-join {
    font-family: "orbitron";
    margin-left: 10px;
    border-radius: 5px;
    font-size: medium;
    padding: 1px 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.contact-heading {
    font-family: "poppins";
    margin-top: 79px;
    margin-bottom: 10px;
    text-align: center;
    color: #6b6b6b;
    font-size: medium;
}

.icons span {
    padding: 0px 5px;
}

.icons span img {
    width: 30px;
}

.list-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.list-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}